* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #ddd;
}

input,
textarea,
button {
  font-family: 'Raleway', sans-serif;
}

#root {
  min-height: 500px;
  min-width: 700px;
}

.header,
.header-login,
.login-input,
.login-btn {
  color: #dfdfdf;
  font-size: 24px;
  text-align: center;
}

.login-form * {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.login-input {
  border: none;
  border-radius: 5px;
  color: black;
  outline-color: #999;
  background: #dfdfdf;
}

.login-btn {
  background: #000;
  border-radius: 5px;
  border: none;
  font-weight: lighter;
}

.header-login {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  padding-top: 25%;
}

.error {
  font-size: 18px;
  color: #aa0000;
}

.header {
  height: 100px;
  background: #555;
  line-height: 100px;
  width: 100%;
  position: relative;
  z-index: 100;
}

.header-logo {
  position: absolute;
  width: 200px;
}

.header-exit {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.header-exit:hover {
  background: #666666;
  color: #ff3333;
  cursor: pointer;
  transition-duration: 0.4s;
}

.header-username {
  padding-left: 100px;
}

.userlist {
  width: 200px;
  border-right: 1px solid black;
  height: 100vh;
  position: fixed;
  padding: 20px;
}

.userlist__ul {
  padding: 0;
}

.userlist__li {
  list-style-type: none;
  line-height: 30px;
  font-weight: 500;
}

.msg-list {
  /*border: 1px solid red;*/
  padding-left: 200px;
  min-height: 150px;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  position: relative;
}

.msg-list__item {
  position: absolute;
  bottom: 0;
  right: 0;
}

.msg-text,
.msg-author,
.msg-date {
  display: inline-block;
}

.msg-author {
  margin-left: 15px;
  font-weight: 500;
  color: #dd0000;
}

.msg-date {
  width: 75px;
  margin-right: 10px;
}

.new-msg {
  height: 75px;
  position: relative;
  margin-left: 200px;
}

.msg-input {
  resize: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 18px;
  padding: 25px 110px 0 25px;
  margin-top: 25px;
  line-height: 25px;
}

.msg-send {
  position: absolute;
  padding: 27px;
  bottom: -24px;
  right: 0px;
  font-weight: 500;
  cursor: pointer;
  border-left: 1px solid;
}

.msg-send:hover {
  background: #bbb;
}

.user--strong {
  color: #dd0000;
}

.user--strong:before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  content: "";
  background: url(../images/crown.png) no-repeat 0 0;
  background-size: 100%;
}

.msg-system {
  color: #dd0000;
}
